.home {
    display: flex;
  
    .homeContainer {
      flex: 6;
  
      .widgets {
        display: flex;
        padding: 20px;
        gap: 20px;
      }
  
      
      
    }
  }
.top-idea{
  display: flex;

  .most-idea{
    width: 50%;
    border: 1px solid red;
  }
}
  